battery: {}
charging_strategy: {}
decision_thresholds:
  battery_use_margin_sek: 0.12
  battery_water_margin_sek: 0.2
  export_profit_margin_sek: 0.2
forecasting: {}
nordpool:
  currency: SEK
  price_area: SE4
  resolution_minutes: 15
pricing:
  energy_tax_sek: 0.439
  grid_transfer_fee_sek: 0.2456
  vat_percent: 25
safety: {}
strategic_charging:
  price_threshold_sek: 0.9
  target_soc_percent: 95
system:
  battery:
    capacity_kwh: 34
    max_charge_power_kw: 8
    max_discharge_power_kw: 8
  grid:
    max_power_kw: 11
  inverter:
    max_power_kw: 8
  location:
    latitude: 55.493084
    longitude: 13.110502
  solar_array:
    azimuth: 150
    kwp: 9
    tilt: 45
timezone: Europe/Stockholm
water_heating: {}
